<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h1> Add Employee</h1>
    <a href="{{url_for('logout')}}">LogOut</a>
    <form action="{{url_for('add_employee')}}" method="POST">
        </br><label for="name">Name</label>&nbsp&nbsp;
        <input name="name" type="text" class="textbox"/></br></br></br>
        <label for="user_name">User Name</label>&nbsp&nbsp;
        <input id="user_name" name="user_name" type="text" class="textbox"/></br></br></br>
        <label for="password">Password</label>&nbsp&nbsp;
        <input id="password" name="password" type="password" class="textbox"/></br></br></br>
        <label for="user_level">User Level</label>&nbsp&nbsp;
        <input id="user_level" name="user_level" type="number" class="textbox"/></br></br>
        <input type="submit" class="btn" value="Submit">
    </form>
    {% if condition %}
    <h3>Employee {{name}}  has been updated successfully </h3>
    {% endif %}
</body>
</html>