<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bug</title>
</head>
<body>
    <h1>New Bug Report Type</h1>
    <form method="POST" action="{{url_for('add_bug')}}">
        <div class="first_row">
            <label id="program">Program</label>
        <select id ="program" name="program_options">
            <option value="{{'-'.join(program_options[0][1:])}}" selected>{{'-'.join(program_options[0][1:])}}</option>
            {% for option in program_options[1:] %}
            <option value="{{'-'.join(option[1:])}}">{{'-'.join(option[1:])}}</option>
            {% endfor %}
        </select>
        &nbsp;
        <label id="report_type">Report Type</label>
        <select id ="report_type" name="report_options">
            <option value="{{report_options[0]}}" selected>{{report_options[0]}}</option>
            {% for option in report_options[1:] %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
        <label id="severity">Severity</label>
        <select id ="severity" name="severity">
            <option value="{{severity[0]}}" selected>{{severity[0]}}</option>
            {% for option in severity[1:] %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
        </select>
        </div>
        <br/>
        <div class="second_row" style="display: inline-block;">
            <label for="problem_summary">Problem Summary</label>
            <input type="text" id="problem_summary" name="problem_summary"></div>
            &nbsp;
            <label id="reproducible">Reproducible?</label>
            <select id ="reproducible" name="reproducible">
            <option value="Yes" selected>Yes</option>
            <option value="No">No</option>
            </select>
        </div>
        <br/>
        <div class="third_row" style="margin-top:20px;">
            <label style="vertical-align:top" for=problem>Problem</label>
            &nbsp;
            <textarea name="problem" id="problem" cols="90" rows="3"></textarea>
        </div>
        <br/>
        <div class="fourth_row">
            <label id="reported_by">Reported By</label>
            <select id ="reported_by" name="reported_by">
            <option value="{{employees[0][1]}}" selected>{{employees[0][1]}}</option>
            {% for option in employees[1:] %}
            <option value="{{option[1]}}">{{option[1]}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label for="entry_date">Date</label>
            <input type="date" id="entry_date" name="entry_date"><br>
        </div>
        <hr/>
        <div class="fifth_row">
            <label id="areas">Functional Area</label>
            <select id ="areas" name="areas">
            <option style="display:none;"></option>
            {% for option in areas %}
            <option value="{{option[2]}}">{{option[2]}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label id="assigned_to">Assigned To</label>
            <select id ="assigned_to" name="assigned_to">
            <option style="display:none;"></option>
            {% for option in employees %}
            <option value="{{option[1]}}">{{option[1]}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="sixth_row" style="margin-top:20px;">
            <label style="vertical-align:top" for=comments>Comments</label>
            &nbsp;
            <textarea name="comments" id="comments" cols="90" rows="3"></textarea>
        </div>
        <br/>
        <div class="seventh_row">
            <label id="status">Status</label>
            <select id ="status" name="status">
            <option style="display:none;"></option>
            {% for option in status %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label id="priority">Priority</label>
            <select id ="priority" name="priority">
            <option style="display:none;"></option>
            {% for option in priority %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label id="resolution">Resolution</label>
            <select id ="resolution" name="resolution">
            <option style="display:none;"></option>
            {% for option in resolution %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label id="resolution_version">Resolution Version</label>
            <select id ="resolution_version" name="resolution_version">
            <option style="display:none;"></option>
            {% for option in resolution %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
            </select>
        </div>
        <br/>
        <div class="eight_row">
            <label id="resolved_by">Resolved by</label>
            <select id ="resolved_by" name="resolved_by">
            <option style="display:none;"></option>
            {% for option in employees %}
            <option value="{{option[1]}}">{{option[1]}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label for="resolved_date">Date</label>
            <input type="date" id="resolved_date" name="resolved_date">
            &nbsp;
            <label id="tested_by">Tested by</label>
            <select id ="tested_by" name="tested_by">
            <option style="display:none;"></option>
            {% for option in employees %}
            <option value="{{option[1]}}">{{option[1]}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <label for="tested_date">Date</label>
            <input type="date" id="tested_date" name="tested_date">
            &nbsp;
            <label id="treat_as">Treat as?</label>
            <select id ="treat_as" name="treat_as">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            </select>
        </div>       
        <hr/>
        <div class="ninth_row">
            <input type="submit" class="btn" value="Submit">
            <input type="reset" value="Reset">
            <button><a href="{{url_for('index_page')}}" style="text-decoration:none;">Cancel</a></button>
        </div> 

        
        



        
    </form>
</body>
</html>