<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Maintenance for Bug hound</title>
</head>
<body>
    <h1>Database Maintenance</h1>
    <a href="{{url_for('add_areas.html')}}"><h2>Add/Edit Areas</h2></a>
    <a href="{{url_for('add_programs.html')}}"><h2>Add Programs</h2></a>
    <a href="{{url_for('edit_programs.html')}}"><h2>Edit Programs</h2></a>
    <a href="{{url_for('add_employess.html')}}"><h2>Add Employess</h2></a>
    <a href="{{url_for('edit_employess.html')}}"><h2>Edit Employess</h2></a>
</body>
</html>