<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Maintenance for Bug hound</title>
</head>
<body>
    <h1>Database Maintenance</h1>
    <a href="{{url_for('add_area')}}"><h2>Add/Edit/Delete Areas</h2></a>
    <a href="{{url_for('add_program')}}"><h2>Add Program</h2></a>
    <a href="{{url_for('update_program')}}"><h2>Edit Program</h2></a>
    <a href="{{url_for('delete_program')}}"><h2>Delete Program</h2></a>
    <a href="{{url_for('add_employee')}}"><h2>Add Employee</h2></a>
    <a href="{{url_for('update_employee')}}"><h2>Edit Employee</h2></a>
    <a href="{{url_for('delete_employee')}}"><h2>Delete Employee</h2></a>
</body>
</html>