<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
</head>
<body>
    <a href="{{url_for('logout')}}">LogOut</a>
    <br/>
    <a href="{{url_for('database_maintenance')}}">Database Maintenance</a>
    <br/>
    <a href="{{url_for('index_page')}}">Home</a> 
    <table style="width:25%", border="1">
        <tr>
            <th>Program ID</th>
            <th>Program</th>
            <th>Program Release</th>
            <th>Program Version</th>
        </tr>
            
        {% for item in programs %}    
        <tr>  
            <td>{{item[0]}}</td>             
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>                            
        </tr>
        {% endfor %}    
    </table>
    <h1> Delete Program</h1>
    <h3> Search Program to delete</h3>
    <form method="POST",action="{{url_for('delete_program')}}">
    <select name="options">
    <option value="{{options[0]}}" selected>{{options[0]}}</option>
    {% for option in options[1:] %}
    <option value="{{option}}">{{option}}</option>
    {% endfor %}
    </select>
    <input name="search_data" class ="textbox"type = "text">
    <input type="submit" value ="Submit">
    </form>
    {% if condition %}
    <h3>Search resulted below Program</h3>
    <table style="width:25%", border="1">
        <tr>
            <th>Program ID</th>
            <th>Program</th>
            <th>Program Release</th>
            <th>Program Version</th>
        </tr>
        <tr>
        <td>{{data[0][0]}}</td>
        <td>{{data[0][1]}}</td>
        <td>{{data[0][2]}}</td>
        <td>{{data[0][3]}}</td>
        <td><button><a style="text-decoration:None;width:25px" href="{{url_for('delete_program_id',prog_id=data[0][0])}}">Delete Program</a></button></td>
        </tr>
        </table>
    {% endif %}
    {% if condition1%}
    <h3>Entered Program details does not exist in db</h3>
    {% endif %}
</body>
</html>