<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/Update Areas</title>
</head>
<body>
    <table style="width:25%", border="1">
    <h1>Add/Edit areas to {{name}} </h1>
    {% for area in data %}
            <tr>
                <td>{{ area[0] }}</td>
                <td>{{ area[1] }} </td>
                <td><input id="area_edit" name="area_edit" value="{{ area[2] }}"></td>
            </tr>
    {% endfor %}
    <tr>
        <td>Add</td>
        <td>{{prog_id}}</td>
        <form action="{{url_for('add_area_program',prog_id=prog_id)}}" method="POST">
        <td><input id="area_edit" name="area_edit"></td>
        <td><input type="submit" class="btn" value="Add Area"></td>
    </form>
    </tr>
    </table>
</body>
</html>